In [19]:
import requests
import json
import pandas as pd

url = "https://v3.football.api-sports.io/"
endpoints = ["countries"]

headers = {
	'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "fb2140228973d644db847895c454c22b"
}

params = {}

def api_req(endpoint, params):
    response = requests.get(
        URL+endpoint,
        headers = headers,
        params = params
    )
    if response.status_code == 200:
            
        remaining = response.headers.get("x-ratelimit-requests-remaining")
        data = response.json()
        print(f"requests before reaching limit {remaining}", data)

    else:
        print(f"Error {response.status_code}, {response.text}")

    return data

#####  Countries

In [20]:
endpoint = 'countries'
params = {}
response = api_req(endpoint,params)

requests before reaching limit 98 {'get': 'countries', 'parameters': [], 'errors': [], 'results': 171, 'paging': {'current': 1, 'total': 1}, 'response': [{'name': 'Albania', 'code': 'AL', 'flag': 'https://media.api-sports.io/flags/al.svg'}, {'name': 'Algeria', 'code': 'DZ', 'flag': 'https://media.api-sports.io/flags/dz.svg'}, {'name': 'Andorra', 'code': 'AD', 'flag': 'https://media.api-sports.io/flags/ad.svg'}, {'name': 'Angola', 'code': 'AO', 'flag': 'https://media.api-sports.io/flags/ao.svg'}, {'name': 'Antigua-And-Barbuda', 'code': 'AG', 'flag': 'https://media.api-sports.io/flags/ag.svg'}, {'name': 'Argentina', 'code': 'AR', 'flag': 'https://media.api-sports.io/flags/ar.svg'}, {'name': 'Armenia', 'code': 'AM', 'flag': 'https://media.api-sports.io/flags/am.svg'}, {'name': 'Aruba', 'code': 'AW', 'flag': 'https://media.api-sports.io/flags/aw.svg'}, {'name': 'Australia', 'code': 'AU', 'flag': 'https://media.api-sports.io/flags/au.svg'}, {'name': 'Austria', 'code': 'AT', 'flag': 'https://media.api-sports.io/flags/at.svg'}, {'name': 'Azerbaidjan', 'code': 'AZ', 'flag': 'https://media.api-sports.io/flags/az.svg'}, {'name': 'Bahrain', 'code': 'BH', 'flag': 'https://media.api-sports.io/flags/bh.svg'}, {'name': 'Bangladesh', 'code': 'BD', 'flag': 'https://media.api-sports.io/flags/bd.svg'}, {'name': 'Barbados', 'code': 'BB', 'flag': 'https://media.api-sports.io/flags/bb.svg'}, {'name': 'Belarus', 'code': 'BY', 'flag': 'https://media.api-sports.io/flags/by.svg'}, {'name': 'Belgium', 'code': 'BE', 'flag': 'https://media.api-sports.io/flags/be.svg'}, {'name': 'Belize', 'code': 'BZ', 'flag': 'https://media.api-sports.io/flags/bz.svg'}, {'name': 'Benin', 'code': 'BJ', 'flag': 'https://media.api-sports.io/flags/bj.svg'}, {'name': 'Bermuda', 'code': 'BM', 'flag': 'https://media.api-sports.io/flags/bm.svg'}, {'name': 'Bhutan', 'code': 'BT', 'flag': 'https://media.api-sports.io/flags/bt.svg'}, {'name': 'Bolivia', 'code': 'BO', 'flag': 'https://media.api-sports.io/flags/bo.svg'}, {'name': 'Bosnia', 'code': 'BA', 'flag': 'https://media.api-sports.io/flags/ba.svg'}, {'name': 'Botswana', 'code': 'BW', 'flag': 'https://media.api-sports.io/flags/bw.svg'}, {'name': 'Brazil', 'code': 'BR', 'flag': 'https://media.api-sports.io/flags/br.svg'}, {'name': 'Bulgaria', 'code': 'BG', 'flag': 'https://media.api-sports.io/flags/bg.svg'}, {'name': 'Burkina-Faso', 'code': 'BF', 'flag': 'https://media.api-sports.io/flags/bf.svg'}, {'name': 'Burundi', 'code': 'BI', 'flag': 'https://media.api-sports.io/flags/bi.svg'}, {'name': 'Cambodia', 'code': 'KH', 'flag': 'https://media.api-sports.io/flags/kh.svg'}, {'name': 'Cameroon', 'code': 'CM', 'flag': 'https://media.api-sports.io/flags/cm.svg'}, {'name': 'Canada', 'code': 'CA', 'flag': 'https://media.api-sports.io/flags/ca.svg'}, {'name': 'Chile', 'code': 'CL', 'flag': 'https://media.api-sports.io/flags/cl.svg'}, {'name': 'China', 'code': 'CN', 'flag': 'https://media.api-sports.io/flags/cn.svg'}, {'name': 'Chinese-Taipei', 'code': 'TW', 'flag': 'https://media.api-sports.io/flags/tw.svg'}, {'name': 'Colombia', 'code': 'CO', 'flag': 'https://media.api-sports.io/flags/co.svg'}, {'name': 'Congo', 'code': 'CD', 'flag': 'https://media.api-sports.io/flags/cd.svg'}, {'name': 'Congo-DR', 'code': 'CG', 'flag': 'https://media.api-sports.io/flags/cg.svg'}, {'name': 'Costa-Rica', 'code': 'CR', 'flag': 'https://media.api-sports.io/flags/cr.svg'}, {'name': 'Crimea', 'code': 'UA', 'flag': 'https://media.api-sports.io/flags/ua.svg'}, {'name': 'Croatia', 'code': 'HR', 'flag': 'https://media.api-sports.io/flags/hr.svg'}, {'name': 'Cuba', 'code': 'CU', 'flag': 'https://media.api-sports.io/flags/cu.svg'}, {'name': 'Curacao', 'code': 'CW', 'flag': 'https://media.api-sports.io/flags/cw.svg'}, {'name': 'Cyprus', 'code': 'CY', 'flag': 'https://media.api-sports.io/flags/cy.svg'}, {'name': 'Czech-Republic', 'code': 'CZ', 'flag': 'https://media.api-sports.io/flags/cz.svg'}, {'name': 'Denmark', 'code': 'DK', 'flag': 'https://media.api-sports.io/flags/dk.svg'}, {'name': 'Dominican-Republic', 'code': 'DO', 'flag': 'https://media.api-sports.io/flags/do.svg'}, {'name': 'Ecuador', 'code': 'EC', 'flag': 'https://media.api-sports.io/flags/ec.svg'}, {'name': 'Egypt', 'code': 'EG', 'flag': 'https://media.api-sports.io/flags/eg.svg'}, {'name': 'El-Salvador', 'code': 'SV', 'flag': 'https://media.api-sports.io/flags/sv.svg'}, {'name': 'England', 'code': 'GB', 'flag': 'https://media.api-sports.io/flags/gb.svg'}, {'name': 'Estonia', 'code': 'EE', 'flag': 'https://media.api-sports.io/flags/ee.svg'}, {'name': 'Eswatini', 'code': 'SZ', 'flag': 'https://media.api-sports.io/flags/sz.svg'}, {'name': 'Ethiopia', 'code': 'ET', 'flag': 'https://media.api-sports.io/flags/et.svg'}, {'name': 'Faroe-Islands', 'code': 'FO', 'flag': 'https://media.api-sports.io/flags/fo.svg'}, {'name': 'Fiji', 'code': 'FJ', 'flag': 'https://media.api-sports.io/flags/fj.svg'}, {'name': 'Finland', 'code': 'FI', 'flag': 'https://media.api-sports.io/flags/fi.svg'}, {'name': 'France', 'code': 'FR', 'flag': 'https://media.api-sports.io/flags/fr.svg'}, {'name': 'Gabon', 'code': 'GA', 'flag': 'https://media.api-sports.io/flags/ga.svg'}, {'name': 'Gambia', 'code': 'GM', 'flag': 'https://media.api-sports.io/flags/gm.svg'}, {'name': 'Georgia', 'code': 'GE', 'flag': 'https://media.api-sports.io/flags/ge.svg'}, {'name': 'Germany', 'code': 'DE', 'flag': 'https://media.api-sports.io/flags/de.svg'}, {'name': 'Ghana', 'code': 'GH', 'flag': 'https://media.api-sports.io/flags/gh.svg'}, {'name': 'Gibraltar', 'code': 'GI', 'flag': 'https://media.api-sports.io/flags/gi.svg'}, {'name': 'Greece', 'code': 'GR', 'flag': 'https://media.api-sports.io/flags/gr.svg'}, {'name': 'Grenada', 'code': 'GD', 'flag': 'https://media.api-sports.io/flags/gd.svg'}, {'name': 'Guadeloupe', 'code': 'GP', 'flag': 'https://media.api-sports.io/flags/gp.svg'}, {'name': 'Guatemala', 'code': 'GT', 'flag': 'https://media.api-sports.io/flags/gt.svg'}, {'name': 'Guinea', 'code': 'GN', 'flag': 'https://media.api-sports.io/flags/gn.svg'}, {'name': 'Haiti', 'code': 'HT', 'flag': 'https://media.api-sports.io/flags/ht.svg'}, {'name': 'Honduras', 'code': 'HN', 'flag': 'https://media.api-sports.io/flags/hn.svg'}, {'name': 'Hong-Kong', 'code': 'HK', 'flag': 'https://media.api-sports.io/flags/hk.svg'}, {'name': 'Hungary', 'code': 'HU', 'flag': 'https://media.api-sports.io/flags/hu.svg'}, {'name': 'Iceland', 'code': 'IS', 'flag': 'https://media.api-sports.io/flags/is.svg'}, {'name': 'India', 'code': 'IN', 'flag': 'https://media.api-sports.io/flags/in.svg'}, {'name': 'Indonesia', 'code': 'ID', 'flag': 'https://media.api-sports.io/flags/id.svg'}, {'name': 'Iran', 'code': 'IR', 'flag': 'https://media.api-sports.io/flags/ir.svg'}, {'name': 'Iraq', 'code': 'IQ', 'flag': 'https://media.api-sports.io/flags/iq.svg'}, {'name': 'Ireland', 'code': 'IE', 'flag': 'https://media.api-sports.io/flags/ie.svg'}, {'name': 'Israel', 'code': 'IL', 'flag': 'https://media.api-sports.io/flags/il.svg'}, {'name': 'Italy', 'code': 'IT', 'flag': 'https://media.api-sports.io/flags/it.svg'}, {'name': 'Ivory-Coast', 'code': 'CI', 'flag': 'https://media.api-sports.io/flags/ci.svg'}, {'name': 'Jamaica', 'code': 'JM', 'flag': 'https://media.api-sports.io/flags/jm.svg'}, {'name': 'Japan', 'code': 'JP', 'flag': 'https://media.api-sports.io/flags/jp.svg'}, {'name': 'Jordan', 'code': 'JO', 'flag': 'https://media.api-sports.io/flags/jo.svg'}, {'name': 'Kazakhstan', 'code': 'KZ', 'flag': 'https://media.api-sports.io/flags/kz.svg'}, {'name': 'Kenya', 'code': 'KE', 'flag': 'https://media.api-sports.io/flags/ke.svg'}, {'name': 'Kosovo', 'code': 'XK', 'flag': 'https://media.api-sports.io/flags/xk.svg'}, {'name': 'Kuwait', 'code': 'KW', 'flag': 'https://media.api-sports.io/flags/kw.svg'}, {'name': 'Kyrgyzstan', 'code': 'KG', 'flag': 'https://media.api-sports.io/flags/kg.svg'}, {'name': 'Laos', 'code': 'LA', 'flag': 'https://media.api-sports.io/flags/la.svg'}, {'name': 'Latvia', 'code': 'LV', 'flag': 'https://media.api-sports.io/flags/lv.svg'}, {'name': 'Lebanon', 'code': 'LB', 'flag': 'https://media.api-sports.io/flags/lb.svg'}, {'name': 'Lesotho', 'code': 'LS', 'flag': 'https://media.api-sports.io/flags/ls.svg'}, {'name': 'Liberia', 'code': 'LR', 'flag': 'https://media.api-sports.io/flags/lr.svg'}, {'name': 'Libya', 'code': 'LY', 'flag': 'https://media.api-sports.io/flags/ly.svg'}, {'name': 'Liechtenstein', 'code': 'LI', 'flag': 'https://media.api-sports.io/flags/li.svg'}, {'name': 'Lithuania', 'code': 'LT', 'flag': 'https://media.api-sports.io/flags/lt.svg'}, {'name': 'Luxembourg', 'code': 'LU', 'flag': 'https://media.api-sports.io/flags/lu.svg'}, {'name': 'Macao', 'code': 'MO', 'flag': 'https://media.api-sports.io/flags/mo.svg'}, {'name': 'Macedonia', 'code': 'MK', 'flag': 'https://media.api-sports.io/flags/mk.svg'}, {'name': 'Malawi', 'code': 'MW', 'flag': 'https://media.api-sports.io/flags/mw.svg'}, {'name': 'Malaysia', 'code': 'MY', 'flag': 'https://media.api-sports.io/flags/my.svg'}, {'name': 'Maldives', 'code': 'MV', 'flag': 'https://media.api-sports.io/flags/mv.svg'}, {'name': 'Mali', 'code': 'ML', 'flag': 'https://media.api-sports.io/flags/ml.svg'}, {'name': 'Malta', 'code': 'MT', 'flag': 'https://media.api-sports.io/flags/mt.svg'}, {'name': 'Mauritania', 'code': 'MR', 'flag': 'https://media.api-sports.io/flags/mr.svg'}, {'name': 'Mauritius', 'code': 'MU', 'flag': 'https://media.api-sports.io/flags/mu.svg'}, {'name': 'Mexico', 'code': 'MX', 'flag': 'https://media.api-sports.io/flags/mx.svg'}, {'name': 'Moldova', 'code': 'MD', 'flag': 'https://media.api-sports.io/flags/md.svg'}, {'name': 'Mongolia', 'code': 'MN', 'flag': 'https://media.api-sports.io/flags/mn.svg'}, {'name': 'Montenegro', 'code': 'ME', 'flag': 'https://media.api-sports.io/flags/me.svg'}, {'name': 'Morocco', 'code': 'MA', 'flag': 'https://media.api-sports.io/flags/ma.svg'}, {'name': 'Myanmar', 'code': 'MM', 'flag': 'https://media.api-sports.io/flags/mm.svg'}, {'name': 'Namibia', 'code': 'NA', 'flag': 'https://media.api-sports.io/flags/na.svg'}, {'name': 'Nepal', 'code': 'NP', 'flag': 'https://media.api-sports.io/flags/np.svg'}, {'name': 'Netherlands', 'code': 'NL', 'flag': 'https://media.api-sports.io/flags/nl.svg'}, {'name': 'New-Zealand', 'code': 'NZ', 'flag': 'https://media.api-sports.io/flags/nz.svg'}, {'name': 'Nicaragua', 'code': 'NI', 'flag': 'https://media.api-sports.io/flags/ni.svg'}, {'name': 'Nigeria', 'code': 'NG', 'flag': 'https://media.api-sports.io/flags/ng.svg'}, {'name': 'Northern-Ireland', 'code': 'GB', 'flag': 'https://media.api-sports.io/flags/gb.svg'}, {'name': 'Norway', 'code': 'NO', 'flag': 'https://media.api-sports.io/flags/no.svg'}, {'name': 'Oman', 'code': 'OM', 'flag': 'https://media.api-sports.io/flags/om.svg'}, {'name': 'Pakistan', 'code': 'PK', 'flag': 'https://media.api-sports.io/flags/pk.svg'}, {'name': 'Palestine', 'code': 'PS', 'flag': 'https://media.api-sports.io/flags/ps.svg'}, {'name': 'Panama', 'code': 'PA', 'flag': 'https://media.api-sports.io/flags/pa.svg'}, {'name': 'Paraguay', 'code': 'PY', 'flag': 'https://media.api-sports.io/flags/py.svg'}, {'name': 'Peru', 'code': 'PE', 'flag': 'https://media.api-sports.io/flags/pe.svg'}, {'name': 'Philippines', 'code': 'PH', 'flag': 'https://media.api-sports.io/flags/ph.svg'}, {'name': 'Poland', 'code': 'PL', 'flag': 'https://media.api-sports.io/flags/pl.svg'}, {'name': 'Portugal', 'code': 'PT', 'flag': 'https://media.api-sports.io/flags/pt.svg'}, {'name': 'Qatar', 'code': 'QA', 'flag': 'https://media.api-sports.io/flags/qa.svg'}, {'name': 'Romania', 'code': 'RO', 'flag': 'https://media.api-sports.io/flags/ro.svg'}, {'name': 'Russia', 'code': 'RU', 'flag': 'https://media.api-sports.io/flags/ru.svg'}, {'name': 'Rwanda', 'code': 'RW', 'flag': 'https://media.api-sports.io/flags/rw.svg'}, {'name': 'San-Marino', 'code': 'SM', 'flag': 'https://media.api-sports.io/flags/sm.svg'}, {'name': 'Saudi-Arabia', 'code': 'SA', 'flag': 'https://media.api-sports.io/flags/sa.svg'}, {'name': 'Scotland', 'code': 'GB', 'flag': 'https://media.api-sports.io/flags/gb.svg'}, {'name': 'Senegal', 'code': 'SN', 'flag': 'https://media.api-sports.io/flags/sn.svg'}, {'name': 'Serbia', 'code': 'RS', 'flag': 'https://media.api-sports.io/flags/rs.svg'}, {'name': 'Singapore', 'code': 'SG', 'flag': 'https://media.api-sports.io/flags/sg.svg'}, {'name': 'Slovakia', 'code': 'SK', 'flag': 'https://media.api-sports.io/flags/sk.svg'}, {'name': 'Slovenia', 'code': 'SI', 'flag': 'https://media.api-sports.io/flags/si.svg'}, {'name': 'Somalia', 'code': 'SO', 'flag': 'https://media.api-sports.io/flags/so.svg'}, {'name': 'South-Africa', 'code': 'ZA', 'flag': 'https://media.api-sports.io/flags/za.svg'}, {'name': 'South-Korea', 'code': 'KR', 'flag': 'https://media.api-sports.io/flags/kr.svg'}, {'name': 'Spain', 'code': 'ES', 'flag': 'https://media.api-sports.io/flags/es.svg'}, {'name': 'Sudan', 'code': 'SD', 'flag': 'https://media.api-sports.io/flags/sd.svg'}, {'name': 'Surinam', 'code': 'SR', 'flag': 'https://media.api-sports.io/flags/sr.svg'}, {'name': 'Sweden', 'code': 'SE', 'flag': 'https://media.api-sports.io/flags/se.svg'}, {'name': 'Switzerland', 'code': 'CH', 'flag': 'https://media.api-sports.io/flags/ch.svg'}, {'name': 'Syria', 'code': 'SY', 'flag': 'https://media.api-sports.io/flags/sy.svg'}, {'name': 'Tajikistan', 'code': 'TJ', 'flag': 'https://media.api-sports.io/flags/tj.svg'}, {'name': 'Tanzania', 'code': 'TZ', 'flag': 'https://media.api-sports.io/flags/tz.svg'}, {'name': 'Thailand', 'code': 'TH', 'flag': 'https://media.api-sports.io/flags/th.svg'}, {'name': 'Togo', 'code': 'TG', 'flag': 'https://media.api-sports.io/flags/tg.svg'}, {'name': 'Trinidad-And-Tobago', 'code': 'TT', 'flag': 'https://media.api-sports.io/flags/tt.svg'}, {'name': 'Tunisia', 'code': 'TN', 'flag': 'https://media.api-sports.io/flags/tn.svg'}, {'name': 'Turkey', 'code': 'TR', 'flag': 'https://media.api-sports.io/flags/tr.svg'}, {'name': 'Turkmenistan', 'code': 'TM', 'flag': 'https://media.api-sports.io/flags/tm.svg'}, {'name': 'Uganda', 'code': 'UG', 'flag': 'https://media.api-sports.io/flags/ug.svg'}, {'name': 'Ukraine', 'code': 'UA', 'flag': 'https://media.api-sports.io/flags/ua.svg'}, {'name': 'United-Arab-Emirates', 'code': 'AE', 'flag': 'https://media.api-sports.io/flags/ae.svg'}, {'name': 'Uruguay', 'code': 'UY', 'flag': 'https://media.api-sports.io/flags/uy.svg'}, {'name': 'USA', 'code': 'US', 'flag': 'https://media.api-sports.io/flags/us.svg'}, {'name': 'Uzbekistan', 'code': 'UZ', 'flag': 'https://media.api-sports.io/flags/uz.svg'}, {'name': 'Venezuela', 'code': 'VE', 'flag': 'https://media.api-sports.io/flags/ve.svg'}, {'name': 'Vietnam', 'code': 'VN', 'flag': 'https://media.api-sports.io/flags/vn.svg'}, {'name': 'Wales', 'code': 'GB', 'flag': 'https://media.api-sports.io/flags/gb.svg'}, {'name': 'World', 'code': None, 'flag': None}, {'name': 'Yemen', 'code': 'YE', 'flag': 'https://media.api-sports.io/flags/ye.svg'}, {'name': 'Zambia', 'code': 'ZM', 'flag': 'https://media.api-sports.io/flags/zm.svg'}, {'name': 'Zimbabwe', 'code': 'ZW', 'flag': 'https://media.api-sports.io/flags/zw.svg'}]}

In [61]:
countries = pd.DataFrame(columns=['name', 'code'])
for country in response['response']:
    countries.loc[len(countries)] = {'name': country['name'], 'code': country['code']}
countries.head()

                  name code
0              Albania   AL
1              Algeria   DZ
2              Andorra   AD
3               Angola   AO
4  Antigua-And-Barbuda   AG

In [62]:
countries.to_csv("countries.csv")

#### Leagues

##### Code

In [ ]:
endpoint = 'leagues'
params = {}
leagues = api_req(endpoint, params)

In [67]:
def get_cols(response, coverage):
    coverages = response
    for key, val in coverages.items():
        if isinstance(val, dict):
            coverage = get_cols(val, coverage)
        else:
            coverage.append(key)
    return coverage

In [70]:
covs = []
coverages = get_cols(leagues['response'][0]['seasons'][0], covs)

In [186]:
# functions inserting data into contests and seasons dfs
def insert_contests(response):
    contests_rows = []
    for league in response['response']:
        contest_row = {'league_id': league['league']['id'],
                       'name': league['league']['name'],
                       'type': league['league']['type'],
                       'country': league['country']['name'],
                       'country_code': league['country']['code'],
                       'seasons': len(league['seasons'])}
        contests_rows.append(contest_row)
    contests = pd.DataFrame(contests_rows)
    return contests

def insert_seasons(response):
    season_rows = []
    for league in response['response']:
        for season in league['seasons']:
            row = {}
            row['league_id'] = league['league']['id']
            for key, val in season.items():

                if key == 'coverage':
                    for k, v in season['coverage'].items():
                        if k == 'fixtures':
                            for a, b in season['coverage']['fixtures'].items():
                                row[a] = b
                        else:
                            row[k] = v
                else:
                    row[key] = val
            season_rows.append(row)
    
    seasons = pd.DataFrame(season_rows)
    return seasons

In [187]:
contests = insert_contests(leagues)
seasons = insert_seasons(leagues)

In [188]:
contests.to_csv('contests.csv')
seasons.to_csv('seasons.csv')

##### Df information

In [189]:
contests.head()

   league_id                name    type  country country_code  seasons
0          4   Euro Championship     Cup    World         None        5
1         21  Confederations Cup     Cup    World         None        3
2         61             Ligue 1  League   France           FR       14
3        144  Jupiler Pro League  League  Belgium           BE       14
4         71             Serie A  League   Brazil           BR       15

In [190]:
seasons.head()

,league_id,year,start,end,current,events,lineups,statistics_fixtures,statistics_players,standings,players,top_scorers,top_assists,top_cards,injuries,predictions,odds
0,4,2008,2008-06-07,2008-06-29,False,True,True,False,False,False,True,True,True,True,False,True,False
1,4,2012,2012-06-08,2012-07-01,False,True,True,False,False,False,True,True,True,True,False,True,False
2,4,2016,2016-06-10,2016-07-10,False,True,True,True,True,True,True,True,True,True,False,True,False
3,4,2020,2019-03-21,2021-07-11,False,True,True,True,True,True,True,True,True,True,False,True,False
4,4,2024,2024-06-14,2024-06-26,True,False,False,False,False,True,False,False,False,False,False,True,False

In [161]:
print(f'contests size: {contests.size}', f'seasons size: {seasons.size}')

contests size: 6648 seasons size: 98992

In [162]:
contests.describe()

         league_id      seasons
count  1108.000000  1108.000000
mean    554.500000     5.583935
std     319.996354     3.787155
min       1.000000     1.000000
25%     277.750000     3.000000
50%     554.500000     5.000000
75%     831.250000     8.000000
max    1108.000000    15.000000

In [163]:
seasons.describe()

              year
count  6187.000000
mean   2019.561985
std       3.332549
min    2008.000000
25%    2018.000000
50%    2020.000000
75%    2022.000000
max    2026.000000

In [167]:
contests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league_id     1108 non-null   int64
 1   name          1108 non-null   object
 2   type          1108 non-null   object
 3   country       1108 non-null   object
 4   country_code  958 non-null    object
 5   seasons       1108 non-null   int64
dtypes: int64(2), object(4)
memory usage: 52.1+ KB

In [166]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6187 entries, 0 to 6186
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 6187 non-null   int64
 1   start                6187 non-null   object
 2   end                  6187 non-null   object
 3   current              6187 non-null   bool
 4   events               6187 non-null   bool
 5   lineups              6187 non-null   bool
 6   statistics_fixtures  6187 non-null   bool
 7   statistics_players   6187 non-null   bool
 8   standings            6187 non-null   bool
 9   players              6187 non-null   bool
 10  top_scorers          6187 non-null   bool
 11  top_assists          6187 non-null   bool
 12  top_cards            6187 non-null   bool
 13  injuries             6187 non-null   bool
 14  predictions          6187 non-null   bool
 15  odds                 6187 non-null   bool
dtypes: bool(13), int64(1), object(2)
memory usage: 223.7+ KB

#### Leagues number

In [169]:
print(len(contests['league_id'].unique()))

1108

In [176]:
leagues_per_c = contests.groupby('country')['league_id'].count().reset_index()

In [177]:
leagues_per_c.sort_values(by='league_id', ascending=False).head(30)

            country  league_id
167           World        150
23           Brazil         72
48          England         45
144           Spain         38
59          Germany         33
78            Italy         29
15          Belgium         28
55           France         24
8         Australia         22
128        Portugal         19
9           Austria         18
119          Norway         16
62           Greece         16
130         Romania         16
147          Sweden         16
42   Czech-Republic         16
148     Switzerland         16
131          Russia         14
43          Denmark         13
5         Argentina         13
135        Scotland         12
114     Netherlands         12
54          Finland         12
127          Poland         11
158             USA         11
156          Turkey         10
106          Mexico         10
38          Croatia         10
71          Iceland          9
24         Bulgaria          8

In [178]:
contests[contests['country']=='Poland'].head(11)

      league_id                  name    type country country_code  seasons
357         106           Ekstraklasa  League  Poland           PL        6
371         107                I Liga  League  Poland           PL        6
464         109        II Liga - East  League  Poland           PL        5
561         108                   Cup     Cup  Poland           PL        5
672         780    III Liga - Group 1  League  Poland           PL        4
673         781    III Liga - Group 2  League  Poland           PL        4
674         782    III Liga - Group 3  League  Poland           PL        4
675         783    III Liga - Group 4  League  Poland           PL        4
770         676  Central Youth League  League  Poland           PL        4
815         727             Super Cup     Cup  Poland           PL        4
1030       1033      Ekstraliga Women  League  Poland           PL        1

In [191]:
seasons[seasons['injuries']==True].info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 18 to 2978
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   league_id            65 non-null     int64
 1   year                 65 non-null     int64
 2   start                65 non-null     object
 3   end                  65 non-null     object
 4   current              65 non-null     bool
 5   events               65 non-null     bool
 6   lineups              65 non-null     bool
 7   statistics_fixtures  65 non-null     bool
 8   statistics_players   65 non-null     bool
 9   standings            65 non-null     bool
 10  players              65 non-null     bool
 11  top_scorers          65 non-null     bool
 12  top_assists          65 non-null     bool
 13  top_cards            65 non-null     bool
 14  injuries             65 non-null     bool
 15  predictions          65 non-null     bool
 16  odds                 65 non-null     bool
dtypes: bool(13), int64(2), object(2)
memory usage: 3.4+ KB

#### Team per country

In [195]:
contests[contests['country']!='World'].sort_values(by='league_id').head(5)

     league_id             name    type  country country_code  seasons
5           39   Premier League  League  England           GB       14
110         40     Championship  League  England           GB       13
116         41       League One  League  England           GB       13
117         42       League Two  League  England           GB       13
115         43  National League  League  England           GB       13

In [197]:
endpoint = 'teams'
params = {'league': 39}
teams_per_c = api_req(endpoint, params)

requests before reaching limit 94 {'get': 'teams', 'parameters': {'league': '39'}, 'errors': {'season': 'The Season field is required.'}, 'results': 0, 'paging': {'current': 1, 'total': 1}, 'response': []}