# 1. Insert countries data into postgresql

In [1]:
import pandas as pd

cs = pd.read_csv('data/countries.csv')
eur_s = pd.read_csv('data/european_seasons.csv')
s = pd.read_csv('data/seasons.csv')

In [20]:
cs.head()

                  name code                                      logo
0              Albania   AL  https://media.api-sports.io/flags/al.svg
1              Algeria   DZ  https://media.api-sports.io/flags/dz.svg
2              Andorra   AD  https://media.api-sports.io/flags/ad.svg
3               Angola   AO  https://media.api-sports.io/flags/ao.svg
4  Antigua-And-Barbuda   AG  https://media.api-sports.io/flags/ag.svg

In [21]:
import psycopg2

db_params = {
    'host': 'localhost',
    'database': 'preds',
    'user': 'postgres',
    'password': 'pass',
    'port': '5432'
}

try:
    conn = None
    cur = None 

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    insert_query = """
        INSERT INTO {} ({})
        VALUES ({})
    """.format('countries', ','.join(cs.columns), ','.join(['%s']*len(cs.columns)))

    cur.executemany(insert_query, cs.values.tolist())
    print('inserted')
    conn.commit()
except Exception as e:
    print(f'Error {e}')

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

inserted

##### changed foreign key

In [1]:
import psycopg2

db_params = {
    'host': 'localhost',
    'database': 'preds',
    'user': 'postgres',
    'password': 'pass',
    'port': '5432'
}

try:
    conn = None
    cur = None 

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    drop_constraint_query = """
    ALTER TABLE team_stats
    DROP CONSTRAINT IF EXISTS fk_stats_team;
    """
    cur.execute(drop_constraint_query)
    conn.commit()
    print('Dropped existing foreign key constraint')
    
    
    # Step 2: Add the new foreign key constraint
    add_constraint_query = """
    ALTER TABLE teams
    ADD CONSTRAINT fk_team_country
    FOREIGN KEY (team_country) REFERENCES countries(name);
    """
    cur.execute(drop_constraint_query)
    conn.commit()
    print('Added new foreign key constraint')
    conn.commit()
    

except Exception as e:
    print(f'Error {e}')

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

Dropped existing foreign key constraint
Added new foreign key constraint

##### change col type

In [3]:
import psycopg2

db_params = {
    'host': 'localhost',
    'database': 'preds',
    'user': 'postgres',
    'password': 'pass',
    'port': '5432'
}

try:
    conn = None
    cur = None 

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    drop_constraint_query = """
    ALTER TABLE fixture_statistics
    RENAME COLUMN id TO fixture_id;
    """
    cur.execute(drop_constraint_query)
    conn.commit()
    print('changed col type')

except Exception as e:
    print(f'Error {e}')

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

changed col type

# Insert league data to postgresql

In [23]:
c = pd.read_csv('data/contests.csv')
c.head()

,league_id,name,type,logo,country,country_code,seasons
0,4,Euro Championship,Cup,https://media.api-sports.io/football/leagues/4...,World,NaN,5
1,21,Confederations Cup,Cup,https://media.api-sports.io/football/leagues/2...,World,NaN,3
2,61,Ligue 1,League,https://media.api-sports.io/football/leagues/6...,France,FR,14
3,144,Jupiler Pro League,League,https://media.api-sports.io/football/leagues/1...,Belgium,BE,14
4,71,Serie A,League,https://media.api-sports.io/football/leagues/7...,Brazil,BR,15

In [24]:
import psycopg2

db_params = {
    'host': 'localhost',
    'database': 'preds',
    'user': 'postgres',
    'password': 'pass',
    'port': '5432'
}

try:
    conn = None
    cur = None 

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    insert_query = """
        INSERT INTO {} ({})
        VALUES ({})
    """.format('leagues', ','.join(c.columns), ','.join(['%s']*len(c.columns)))

    cur.executemany(insert_query, c.values.tolist())
    print('inserted')
    conn.commit()
except Exception as e:
    print(f'Error {e}')

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

inserted

# 2. Teams stats in each season

In [12]:
import pandas as pd

c = pd.read_csv('data/contests.csv')
s = pd.read_csv('data/seasons.csv')
es = pd.read_csv('data/european_seasons.csv')

In [11]:
c.head()

,league_id,name,type,logo,country,country_code,seasons
0,4,Euro Championship,Cup,https://media.api-sports.io/football/leagues/4...,World,NaN,5
1,21,Confederations Cup,Cup,https://media.api-sports.io/football/leagues/2...,World,NaN,3
2,61,Ligue 1,League,https://media.api-sports.io/football/leagues/6...,France,FR,14
3,144,Jupiler Pro League,League,https://media.api-sports.io/football/leagues/1...,Belgium,BE,14
4,71,Serie A,League,https://media.api-sports.io/football/leagues/7...,Brazil,BR,15

In [3]:
valid_s = set(zip(s[s['statistics_fixtures'] == True]['league_id'], 
                  s[s['statistics_fixtures'] == True]['year']))

In [4]:
valid_s

{(1, 2018),
 (1, 2022),
 (2, 2015),
 (2, 2016),
 (2, 2017),
 (2, 2018),
 (2, 2019),
 (2, 2020),
 (2, 2021),
 (2, 2022),
 (2, 2023),
 (3, 2015),
 (3, 2016),
 (3, 2017),
 (3, 2018),
 (3, 2019),
 (3, 2020),
 (3, 2021),
 (3, 2022),
 (3, 2023),
 (4, 2016),
 (4, 2020),
 (5, 2018),
 (5, 2020),
 (5, 2022),
 (6, 2019),
 (6, 2021),
 (6, 2023),
 (7, 2019),
 (7, 2023),
 (8, 2023),
 (9, 2015),
 (9, 2016),
 (9, 2019),
 (9, 2021),
 (10, 2018),
 (10, 2019),
 (10, 2021),
 (10, 2022),
 (10, 2023),
 (10, 2024),
 (11, 2019),
 (11, 2020),
 (11, 2021),
 (11, 2022),
 (11, 2023),
 (11, 2024),
 (12, 2019),
 (12, 2020),
 (12, 2021),
 (12, 2022),
 (12, 2023),
 (13, 2019),
 (13, 2020),
 (13, 2021),
 (13, 2022),
 (13, 2023),
 (13, 2024),
 (15, 2019),
 (15, 2020),
 (15, 2021),
 (15, 2022),
 (15, 2023),
 (16, 2022),
 (16, 2023),
 (16, 2024),
 (17, 2016),
 (17, 2017),
 (17, 2018),
 (17, 2019),
 (17, 2020),
 (17, 2021),
 (17, 2022),
 (17, 2023),
 (18, 2023),
 (20, 2019),
 (20, 2020),
 (20, 2021),
 (20, 2022),
 (20, 2023),
 (21, 2017),
 (22, 2021),
 (22, 2023),
 (29, 2022),
 (29, 2023),
 (30, 2018),
 (30, 2022),
 (30, 2026),
 (31, 2018),
 (31, 2022),
 (31, 2026),
 (32, 2018),
 (32, 2020),
 (34, 2018),
 (34, 2022),
 (34, 2026),
 (37, 2018),
 (37, 2022),
 (38, 2021),
 (38, 2023),
 (39, 2014),
 (39, 2015),
 (39, 2016),
 (39, 2017),
 (39, 2018),
 (39, 2019),
 (39, 2020),
 (39, 2021),
 (39, 2022),
 (39, 2023),
 (40, 2014),
 (40, 2015),
 (40, 2016),
 (40, 2017),
 (40, 2018),
 (40, 2019),
 (40, 2020),
 (40, 2021),
 (40, 2022),
 (40, 2023),
 (41, 2015),
 (41, 2016),
 (41, 2017),
 (41, 2018),
 (41, 2019),
 (41, 2020),
 (41, 2021),
 (41, 2022),
 (41, 2023),
 (42, 2017),
 (42, 2018),
 (42, 2019),
 (42, 2020),
 (42, 2021),
 (42, 2022),
 (42, 2023),
 (44, 2023),
 (45, 2015),
 (45, 2016),
 (45, 2017),
 (45, 2018),
 (45, 2019),
 (45, 2020),
 (45, 2021),
 (45, 2022),
 (45, 2023),
 (46, 2019),
 (46, 2020),
 (46, 2021),
 (46, 2022),
 (46, 2023),
 (48, 2015),
 (48, 2016),
 (48, 2017),
 (48, 2018),
 (48, 2019),
 (48, 2020),
 (48, 2021),
 (48, 2022),
 (48, 2023),
 (61, 2015),
 (61, 2016),
 (61, 2017),
 (61, 2018),
 (61, 2019),
 (61, 2020),
 (61, 2021),
 (61, 2022),
 (61, 2023),
 (62, 2014),
 (62, 2015),
 (62, 2016),
 (62, 2017),
 (62, 2018),
 (62, 2019),
 (62, 2020),
 (62, 2021),
 (62, 2022),
 (62, 2023),
 (64, 2023),
 (65, 2015),
 (65, 2016),
 (65, 2018),
 (65, 2019),
 (66, 2015),
 (66, 2016),
 (66, 2017),
 (66, 2018),
 (66, 2019),
 (66, 2020),
 (66, 2021),
 (66, 2022),
 (66, 2023),
 (71, 2015),
 (71, 2016),
 (71, 2017),
 (71, 2018),
 (71, 2019),
 (71, 2020),
 (71, 2021),
 (71, 2022),
 (71, 2023),
 (71, 2024),
 (72, 2017),
 (72, 2018),
 (72, 2019),
 (72, 2020),
 (72, 2021),
 (72, 2022),
 (72, 2023),
 (72, 2024),
 (73, 2016),
 (73, 2017),
 (73, 2018),
 (73, 2019),
 (73, 2020),
 (73, 2021),
 (73, 2022),
 (73, 2023),
 (73, 2024),
 (78, 2015),
 (78, 2016),
 (78, 2017),
 (78, 2018),
 (78, 2019),
 (78, 2020),
 (78, 2021),
 (78, 2022),
 (78, 2023),
 (79, 2014),
 (79, 2015),
 (79, 2016),
 (79, 2017),
 (79, 2018),
 (79, 2019),
 (79, 2020),
 (79, 2021),
 (79, 2022),
 (79, 2023),
 (80, 2017),
 (80, 2018),
 (80, 2019),
 (80, 2020),
 (80, 2021),
 (80, 2022),
 (80, 2023),
 (81, 2015),
 (81, 2016),
 (81, 2017),
 (81, 2018),
 (81, 2019),
 (81, 2020),
 (81, 2021),
 (81, 2022),
 (81, 2023),
 (82, 2023),
 (88, 2015),
 (88, 2016),
 (88, 2017),
 (88, 2018),
 (88, 2019),
 (88, 2020),
 (88, 2021),
 (88, 2022),
 (88, 2023),
 (89, 2016),
 (89, 2020),
 (89, 2021),
 (89, 2022),
 (89, 2023),
 (90, 2019),
 (90, 2020),
 (90, 2021),
 (90, 2022),
 (90, 2023),
 (94, 2015),
 (94, 2016),
 (94, 2017),
 (94, 2018),
 (94, 2019),
 (94, 2020),
 (94, 2021),
 (94, 2022),
 (94, 2023),
 (95, 2019),
 (95, 2020),
 (95, 2021),
 (95, 2022),
 (95, 2023),
 (96, 2019),
 (96, 2020),
 (96, 2021),
 (96, 2022),
 (96, 2023),
 (97, 2019),
 (97, 2020),
 (97, 2021),
 (97, 2022),
 (97, 2023),
 (98, 2015),
 (98, 2016),
 (98, 2017),
 (98, 2018),
 (98, 2019),
 (98, 2020),
 (98, 2021),
 (98, 2022),
 (98, 2023),
 (98, 2024),
 (103, 2016),
 (103, 2017),
 (103, 2018),
 (103, 2019),
 (103, 2020),
 (103, 2021),
 (103, 2022),
 (103, 2023),
 (103, 2024),
 (106, 2018),
 (106, 2019),
 (106, 2020),
 (106, 2021),
 (106, 2022),
 (106, 2023),
 (108, 2019),
 (108, 2020),
 (108, 2021),
 (108, 2022),
 (108, 2023),
 (113, 2016),
 (113, 2017),
 (113, 2018),
 (113, 2019),
 (113, 2020),
 (113, 2021),
 (113, 2022),
 (113, 2023),
 (113, 2024),
 (114, 2020),
 (114, 2021),
 (114, 2022),
 (114, 2023),
 (114, 2024),
 (116, 2020),
 (116, 2022),
 (116, 2023),
 (116, 2024),
 (119, 2015),
 (119, 2016),
 (119, 2017),
 (119, 2018),
 (119, 2019),
 (119, 2020),
 (119, 2021),
 (119, 2022),
 (119, 2023),
 (128, 2015),
 (128, 2016),
 (128, 2017),
 (128, 2018),
 (128, 2019),
 (128, 2020),
 (128, 2021),
 (128, 2022),
 (128, 2023),
 (128, 2024),
 (135, 2015),
 (135, 2016),
 (135, 2017),
 (135, 2018),
 (135, 2019),
 (135, 2020),
 (135, 2021),
 (135, 2022),
 (135, 2023),
 (136, 2016),
 (136, 2017),
 (136, 2018),
 (136, 2019),
 (136, 2020),
 (136, 2021),
 (136, 2022),
 (136, 2023),
 (137, 2016),
 (137, 2017),
 (137, 2018),
 (137, 2019),
 (137, 2020),
 (137, 2021),
 (137, 2022),
 (137, 2023),
 (139, 2023),
 (140, 2014),
 (140, 2015),
 (140, 2016),
 (140, 2017),
 (140, 2018),
 (140, 2019),
 (140, 2020),
 (140, 2021),
 (140, 2022),
 (140, 2023),
 (141, 2016),
 (141, 2017),
 (141, 2018),
 (141, 2019),
 (141, 2020),
 (141, 2021),
 (141, 2022),
 (141, 2023),
 (142, 2023),
 (143, 2018),
 (143, 2019),
 (143, 2020),
 (143, 2021),
 (143, 2022),
 (143, 2023),
 (144, 2015),
 (144, 2016),
 (144, 2017),
 (144, 2018),
 (144, 2019),
 (144, 2020),
 (144, 2021),
 (144, 2022),
 (144, 2023),
 (145, 2023),
 (169, 2016),
 (169, 2017),
 (169, 2018),
 (169, 2019),
 (169, 2020),
 (169, 2021),
 (169, 2022),
 (169, 2023),
 (169, 2024),
 (172, 2018),
 (172, 2019),
 (172, 2020),
 (172, 2021),
 (172, 2022),
 (172, 2023),
 (179, 2015),
 (179, 2016),
 (179, 2017),
 (179, 2018),
 (179, 2019),
 (179, 2020),
 (179, 2021),
 (179, 2022),
 (179, 2023),
 (181, 2019),
 (181, 2020),
 (181, 2021),
 (181, 2022),
 (181, 2023),
 (185, 2023),
 (188, 2014),
 (188, 2015),
 (188, 2016),
 (188, 2017),
 (188, 2018),
 (188, 2019),
 (188, 2020),
 (188, 2021),
 (188, 2022),
 (188, 2023),
 (197, 2016),
 (197, 2017),
 (197, 2018),
 (197, 2019),
 (197, 2020),
 (197, 2021),
 (197, 2022),
 (197, 2023),
 (200, 2022),
 (200, 2023),
 (203, 2015),
 (203, 2016),
 (203, 2017),
 (203, 2018),
 (203, 2019),
 (203, 2020),
 (203, 2021),
 (203, 2022),
 (203, 2023),
 (204, 2016),
 (204, 2017),
 (204, 2018),
 (204, 2019),
 (204, 2020),
 (204, 2021),
 (204, 2022),
 (204, 2023),
 (206, 2016),
 (206, 2017),
 (206, 2018),
 (206, 2019),
 (206, 2020),
 (206, 2021),
 (206, 2022),
 (206, 2023),
 (207, 2016),
 (207, 2017),
 (207, 2018),
 (207, 2019),
 (207, 2020),
 (207, 2021),
 (207, 2022),
 (207, 2023),
 (210, 2019),
 (210, 2020),
 (210, 2021),
 (210, 2022),
 (210, 2023),
 (212, 2019),
 (212, 2022),
 (212, 2023),
 (218, 2015),
 (218, 2016),
 (218, 2017),
 (218, 2018),
 (218, 2019),
 (218, 2020),
 (218, 2021),
 (218, 2022),
 (218, 2023),
 (219, 2015),
 (219, 2016),
 (219, 2017),
 (219, 2018),
 (219, 2019),
 (219, 2020),
 (219, 2021),
 (219, 2022),
 (219, 2023),
 (233, 2021),
 (233, 2022),
 (233, 2023),
 (235, 2016),
 (235, 2017),
 (235, 2018),
 (235, 2019),
 (235, 2020),
 (235, 2021),
 (235, 2022),
 (235, 2023),
 (236, 2021),
 (236, 2022),
 (236, 2023),
 (237, 2020),
 (237, 2021),
 (237, 2022),
 (237, 2023),
 (239, 2016),
 (239, 2017),
 (239, 2018),
 (239, 2019),
 (239, 2020),
 (239, 2021),
 (239, 2022),
 (239, 2023),
 (239, 2024),
 (242, 2018),
 (242, 2019),
 (242, 2020),
 (242, 2021),
 (242, 2022),
 (242, 2023),
 (242, 2024),
 (244, 2015),
 (244, 2017),
 (244, 2018),
 (244, 2019),
 (244, 2021),
 (244, 2022),
 (244, 2023),
 (253, 2015),
 (253, 2016),
 (253, 2017),
 (253, 2018),
 (253, 2019),
 (253, 2020),
 (253, 2021),
 (253, 2022),
 (253, 2023),
 (253, 2024),
 (254, 2023),
 (254, 2024),
 (255, 2020),
 (262, 2016),
 (262, 2017),
 (262, 2018),
 (262, 2019),
 (262, 2020),
 (262, 2021),
 (262, 2022),
 (262, 2023),
 (265, 2018),
 (265, 2019),
 (265, 2020),
 (265, 2021),
 (265, 2022),
 (265, 2023),
 (265, 2024),
 (268, 2021),
 (268, 2022),
 (268, 2023),
 (268, 2024),
 (270, 2020),
 (270, 2021),
 (270, 2022),
 (270, 2023),
 (271, 2019),
 (271, 2020),
 (271, 2021),
 (271, 2022),
 (271, 2023),
 (281, 2017),
 (281, 2018),
 (281, 2019),
 (281, 2020),
 (281, 2021),
 (281, 2022),
 (281, 2023),
 (281, 2024),
 (283, 2016),
 (283, 2017),
 (283, 2018),
 (283, 2019),
 (283, 2020),
 (283, 2021),
 (283, 2022),
 (283, 2023),
 (286, 2019),
 (286, 2020),
 (286, 2021),
 (286, 2022),
 (286, 2023),
 (288, 2019),
 (288, 2020),
 (288, 2021),
 (288, 2022),
 (288, 2023),
 (292, 2020),
 (292, 2021),
 (292, 2022),
 (292, 2023),
 (293, 2020),
 (296, 2023),
 (301, 2018),
 (301, 2021),
 (301, 2022),
 (301, 2023),
 (305, 2023),
 (307, 2016),
 (307, 2017),
 (307, 2018),
 (307, 2019),
 (307, 2020),
 (307, 2021),
 (307, 2022),
 (307, 2023),
 (318, 2018),
 (318, 2019),
 (318, 2020),
 (318, 2021),
 (318, 2022),
 (318, 2023),
 (323, 2018),
 (323, 2019),
 (323, 2020),
 (323, 2021),
 (323, 2022),
 (323, 2023),
 (332, 2019),
 (332, 2020),
 (332, 2021),
 (332, 2022),
 (332, 2023),
 (333, 2016),
 (333, 2017),
 (333, 2018),
 (333, 2019),
 (333, 2020),
 (333, 2021),
 (333, 2022),
 (333, 2023),
 (344, 2023),
 (344, 2024),
 (345, 2019),
 (345, 2020),
 (345, 2021),
 (345, 2022),
 (345, 2023),
 (357, 2023),
 (357, 2024),
 (373, 2019),
 (373, 2020),
 (373, 2021),
 (373, 2022),
 (373, 2023),
 (383, 2021),
 (383, 2022),
 (383, 2023),
 (389, 2022),
 (389, 2023),
 (475, 2020),
 (475, 2021),
 (475, 2022),
 (475, 2023),
 (475, 2024),
 (479, 2020),
 (479, 2023),
 (479, 2024),
 (480, 2020),
 (490, 2023),
 (493, 2023),
 (504, 2023),
 (504, 2024),
 (525, 2022),
 (525, 2023),
 (526, 2020),
 (526, 2021),
 (526, 2022),
 (526, 2023),
 (528, 2015),
 (528, 2017),
 (528, 2018),
 (528, 2019),
 (528, 2020),
 (528, 2021),
 (528, 2022),
 (528, 2023),
 (529, 2015),
 (529, 2016),
 (529, 2017),
 (529, 2018),
 (529, 2019),
 (529, 2020),
 (529, 2021),
 (529, 2022),
 (529, 2023),
 (531, 2016),
 (531, 2017),
 (531, 2018),
 (531, 2019),
 (531, 2020),
 (531, 2021),
 (531, 2022),
 (531, 2023),
 (533, 2020),
 (533, 2021),
 (533, 2022),
 (533, 2023),
 (536, 2022),
 (536, 2023),
 (543, 2019),
 (543, 2020),
 (543, 2021),
 (543, 2022),
 (547, 2016),
 (547, 2018),
 (547, 2019),
 (547, 2020),
 (547, 2021),
 (547, 2022),
 (547, 2023),
 (551, 2020),
 (551, 2021),
 (551, 2022),
 (551, 2023),
 (556, 2016),
 (556, 2017),
 (556, 2018),
 (556, 2019),
 (556, 2020),
 (556, 2021),
 (556, 2022),
 (556, 2023),
 (667, 2023),
 (667, 2024),
 (714, 2022),
 (768, 2023),
 (772, 2023),
 (848, 2021),
 (848, 2022),
 (848, 2023),
 (960, 2023),
 (1032, 2023),
 (1032, 2024)}

In [5]:
s[s['current']==True].head()

,Unnamed: 0,league_id,year,start,end,current,events,lineups,statistics_fixtures,statistics_players,standings,players,top_scorers,top_assists,top_cards,injuries,predictions,odds
4,4,4,2024,2024-06-14,2024-06-26,True,False,False,False,False,True,False,False,False,False,False,True,False
7,7,21,2017,2017-06-17,2017-07-02,True,True,True,True,False,False,True,True,True,True,False,True,False
21,21,61,2023,2023-08-11,2024-05-18,True,True,True,True,True,True,True,True,True,True,True,True,True
35,35,144,2023,2023-07-28,2024-05-26,True,True,True,True,True,True,True,True,True,True,False,True,True
50,50,71,2024,2024-04-13,2024-12-08,True,True,True,True,True,True,True,True,True,True,False,True,True

In [16]:
me = es[es['current']==True]

In [19]:
mee = me.merge(s,on=['league_id','year'])

In [22]:
from datetime import date
t = date.today()
t

datetime.date(2024, 6, 9)

In [25]:
mee['end'] = pd.to_datetime(mee['end']).dt.date
mee[(mee['end'] > t)&(mee['statistics_fixtures_x']==True)]

,Unnamed: 0_x,league_id,name,country,year,players_x,statistics_fixtures_x,current_x,predictions_x,odds_x,...,statistics_fixtures_y,statistics_players,standings,players_y,top_scorers,top_assists,top_cards,injuries,predictions_y,odds_y
77,423,142,Primera Divisi√≥n Femenina,Spain,2023,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
284,1624,103,Eliteserien,Norway,2024,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
385,2228,113,Allsvenskan,Sweden,2024,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
386,2237,114,Superettan,Sweden,2024,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
475,2722,357,Premier Division,Ireland,2024,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
519,3065,116,Premier League,Belarus,2024,True,True,True,True,True,...,True,False,True,True,True,True,True,False,True,True

# Some operations

In [17]:
me = es.merge(c[['league_id', 'type', 'country']], on = 'league_id')

In [19]:
lis = es['league_id'].unique()

In [26]:
ligi = list(c[(c['type']=='League')&(c['league_id'].isin(list(lis)))&(c['seasons']>1)]['league_id'].unique())

In [29]:
s[(s['odds'])&(s['league_id'].isin(ligi))].drop_duplicates(subset=['league_id'])

,Unnamed: 0,league_id,year,start,end,current,events,lineups,statistics_fixtures,statistics_players,standings,players,top_scorers,top_assists,top_cards,injuries,predictions,odds
21,21,61,2023,2023-08-11,2024-05-18,True,True,True,True,True,True,True,True,True,True,True,True,True
35,35,144,2023,2023-07-28,2024-05-26,True,True,True,True,True,True,True,True,True,True,False,True,True
64,64,39,2023,2023-08-11,2024-05-19,True,True,True,True,True,True,True,True,True,True,True,True,True
78,78,78,2023,2023-08-18,2024-05-27,True,True,True,True,True,True,True,True,True,True,True,True,True
92,92,135,2023,2023-08-19,2024-05-26,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5985,5985,1009,2023,2024-05-22,2024-05-25,True,False,False,False,False,False,True,True,True,True,False,True,True
5988,5988,1011,2023,2024-05-11,2024-05-26,True,False,False,False,False,False,True,True,True,True,False,True,True
6033,6033,915,2024,2024-03-16,2024-09-07,True,True,False,False,False,True,False,False,False,False,False,True,True
6071,6071,938,2023,2023-07-21,2024-05-18,True,True,False,False,False,True,True,True,True,True,False,True,True
6073,6073,939,2023,2023-07-21,2024-05-18,True,True,False,False,False,True,True,True,True,True,False,True,True

In [18]:
c[c['type']=='League']

,league_id,name,type,logo,country,country_code,seasons
2,61,Ligue 1,League,https://media.api-sports.io/football/leagues/6...,France,FR,14
3,144,Jupiler Pro League,League,https://media.api-sports.io/football/leagues/1...,Belgium,BE,14
4,71,Serie A,League,https://media.api-sports.io/football/leagues/7...,Brazil,BR,15
5,39,Premier League,League,https://media.api-sports.io/football/leagues/3...,England,GB,14
6,78,Bundesliga,League,https://media.api-sports.io/football/leagues/7...,Germany,DE,14
...,...,...,...,...,...,...,...
1101,1103,Premiership Women,League,https://media.api-sports.io/football/leagues/1...,Northern-Ireland,GB,1
1102,1104,Liga 3,League,https://media.api-sports.io/football/leagues/1...,Georgia,GE,1
1104,1106,Carioca C,League,https://media.api-sports.io/football/leagues/1...,Brazil,BR,1
1105,1107,Mineiro U20,League,https://media.api-sports.io/football/leagues/1...,Brazil,BR,1
1106,1108,Sergipano U20,League,https://media.api-sports.io/football/leagues/1...,Brazil,BR,1