In [40]:
def get_odds_predictions(start, end):
    conn = None
    cur = None
    params = {
    'host': 'localhost',
    'database': 'preds',
    'user': 'postgres',
    'password': 'pass',
    'port': '5432'
}
    try:
        # Establish the connection
        conn = psycopg2.connect(**params)
        cur = conn.cursor()

        query = """
        SELECT a.*
        FROM (
            SELECT p.*, o.result_home, o.result_draw, o.result_away, 
            o.both_scores_true, o.both_scores_false, o.double_chance_home, 
            o.double_chance_away, o.fh_result_home, o.fh_result_draw, o.fh_result_away, 
            o.home_over_1, o.home_over_2, o.away_over_1, o.away_over_2
            FROM odds o
            LEFT JOIN predictions p ON p.fixture_id = o.fixture_id
        ) a
        LEFT JOIN fixtures f ON a.fixture_id = f.fixture_id
        WHERE f.fixture_date >= %s and f.fixture_date <= %s
        """
        df = pd.read_sql_query(query, conn, params=(start, end))
        # Commit the changes
        conn.commit()
        return df
    except Exception as e:
        print(f"Error: {e}")
        if conn is not None:
            conn.rollback()
    finally:
        if conn is not None:
            # Close the cursor and connection
            cur.close()
        if cur is not None:
            conn.close()

In [41]:
from datetime import date, timedelta
import psycopg2
import pandas as pd

start = date.today()
while start.weekday()!=4:
    start += timedelta(1)
end = date.today()
while end.weekday()!=0:
    end += timedelta(1)

df = get_odds_predictions(start,end)

C:\Users\olows\AppData\Local\Temp\ipykernel_4788\2388667060.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(start, end))

#### Inspect data

In [90]:
df[['home_over_1_prob', 'home_over_1_pred', 'home_over_1']]

   home_over_1_prob  home_over_1_pred  home_over_1
0          0.117432             False          2.8

In [91]:
df[['home_over_2_prob', 'home_over_2_pred', 'home_over_2']]

   home_over_2_prob  home_over_2_pred  home_over_2
0          0.020667             False          7.5

In [92]:
df[['away_over_1_prob', 'away_over_1_pred', 'away_over_1']]

   away_over_1_prob  away_over_1_pred  away_over_1
0          0.777942              True          4.2

In [93]:
df[['away_over_2_prob', 'away_over_2_pred', 'away_over_2']]

   away_over_2_prob  away_over_2_pred  away_over_2
0           0.42371             False         1.39

In [94]:
df.columns

Index(['fixture_id', 'teams_home_id', 'teams_away_id', 'home_over_1_prob',
       'home_over_2_prob', 'away_over_1_prob', 'away_over_2_prob',
       'both_scores_prob', 'home_over_1_pred', 'home_over_2_pred',
       'away_over_1_pred', 'away_over_2_pred', 'both_scores_pred',
       'result_pred', 'result_first_half_pred',
       'result_double_chance_home_pred', 'result_double_chance_away_pred',
       'result_prob', 'result_first_half_prob',
       'result_double_chance_home_prob', 'result_double_chance_away_prob',
       'result_home', 'result_draw', 'result_away', 'both_scores_true',
       'both_scores_false', 'double_chance_home', 'double_chance_away',
       'fh_result_home', 'fh_result_draw', 'fh_result_away', 'home_over_1',
       'home_over_2', 'away_over_1', 'away_over_2'],
      dtype='object')

In [95]:
df[['both_scores_prob', 'both_scores_pred', 'both_scores_true',
       'both_scores_false']]

   both_scores_prob  both_scores_pred  both_scores_true  both_scores_false
0          0.498292             False              1.54               2.32

In [96]:
df[['result_pred', 'result_prob', 'result_home', 'result_draw', 'result_away']]

   result_pred  result_prob  result_home  result_draw  result_away
0            2     0.756868         5.53          4.8         1.46

In [98]:
df[['result_first_half_pred', 'result_first_half_prob', 'fh_result_home', 'fh_result_draw', 'fh_result_away']]

,result_first_half_pred,result_first_half_prob,fh_result_home,fh_result_draw,fh_result_away
0,1,0.648821,4.98,2.75,1.9

In [99]:
df[['result_double_chance_home_pred', 'result_double_chance_away_pred', 
    'result_double_chance_home_prob', 'result_double_chance_away_prob', 
    'double_chance_home', 'double_chance_away']]

,result_double_chance_home_pred,result_double_chance_away_pred,result_double_chance_home_prob,result_double_chance_away_prob,double_chance_home,double_chance_away
0,True,False,0.748452,0.031406,2.55,1.15

#### Create combination of odds from same prediction for different matches

In [167]:
df

,fixture_id,teams_home_id,teams_away_id,home_over_1_prob,home_over_2_prob,away_over_1_prob,away_over_2_prob,both_scores_prob,home_over_1_pred,home_over_2_pred,...,both_scores_false,double_chance_home,double_chance_away,fh_result_home,fh_result_draw,fh_result_away,home_over_1,home_over_2,away_over_1,away_over_2
0,1195620,9173,2076,0.117432,0.020667,0.777942,0.423710,0.498292,False,False,...,2.32,2.55,1.15,4.98,2.75,1.90,2.80,7.5,4.2,1.39
1,1152190,270,272,0.485314,0.217566,0.132401,0.022132,0.405173,False,False,...,2.72,1.26,1.21,2.24,2.52,3.82,5.05,1.5,11.5,2.19

bierzemy po rodzaju beta
dla każdego rodzaju szukamy tych z szansą powyżej 0.5
bierzemy taką ilość betów żeby szansa wygranej była większa niż określona wartość (parametr minimalna szansa)
sprawdzamy czy z betów kursy zsumowane są większe niż parametr minimalna wygrana
wybieramy max 10 betów dla danego rodzaju (obliczone wagowo np. suma kursów *0,4 + suma szans*0,8)
zapisujemy bety do bazy danych 

stworzenie kolumny określającej typ beta (ten sam mecz czy te same typy)

In [194]:
sets = [['home_over_1_prob','home_over_1'],
        ['home_over_2_prob','home_over_2'],
        ['away_over_1_prob','away_over_1'],
        ['away_over_2_prob','away_over_2'],
        ['both_scores_prob','both_scores_true','both_scores_false'],
        ['result_prob','result_pred','result_home', 'result_draw', 'result_away'],
        ['result_first_half_prob','result_first_half_pred','fh_result_home', 'fh_result_draw', 'fh_result_away'],
        ['result_double_chance_home_prob','double_chance_home'],
        ['result_double_chance_away_prob','double_chance_away']]

In [231]:
bet_num = get_idx()
final_bets = None

for el in sets:
    bets, bet_num = bet_one_type(df,el, 0.5, 2, 0.6, bet_num)
    if bets is not None:
        bets = preprocess_data(bets)
        if final_bets is not None:
            final_bets=pd.concat([final_bets,bets])
        else:
            final_bets = bets
    # preprocess data 
        
    # save bets to bets table
final_df = pd.DataFrame(final_bets)
final_df

no proper odds for home_over_1 bet type
no proper odds for home_over_2 bet type
got away_over_1_prob bets
no proper odds for away_over_2 bet type
no proper odds for both_scores_true bet type
got result_prob bets
got result_first_half_prob bets
got result_double_chance_home_prob bets
no odds for double_chance_away bet type

C:\Users\olows\AppData\Local\Temp\ipykernel_4788\90924678.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_col] = df.apply(

   fixture_id  probability  bet_value  bet_number            bet_name
0     1195620     0.777942       4.20           1         away_over_1
0     1195620     0.756868       1.46           2              result
1     1152190     0.698675       1.79           2              result
0     1195620     0.648821       2.75           3           fh_result
0     1195620     0.748452       2.55           4  double_chance_home

In [227]:
def preprocess_data(bets):
    cols=list(bets.columns)
    bets = bets.assign(bet_name=cols[2])
    bets = bets.rename(columns={cols[1]:'probability', cols[2]:'bet_value'})
    return bets

In [214]:
def bet_one_type(df, el, chance, bet, min_chance, bet_num):
    
    cols = ['fixture_id']+el
    df = df[cols] # get subset of data with one odd type
    df, new_el = get_df(el, df, min_chance)
    if len(df) > 0:
        summed_bet = 1
        summed_chance = 1 
        res_chance = 1 # final chance value
        res_bet = 1 # final bet value
        df.sort_values(by=el[0], ascending=False, inplace=True) # sort from best chance to worst
        tmp_df = df # get tmp df to drop rows with too low bet value if necessary
        tmp2_df = df # tmp2 for dropping chosen bets from df and find anothers without them
        final_bets = None
        chosen_bets = None
        while len(tmp_df) > 0:
            for num in range(len(tmp_df)):
                if len(el)==2:
                    summed_chance *= tmp_df[el[0]].iloc[num]
                    summed_bet *= tmp_df[el[1]].iloc[num]
                elif len(el)==3:
                    if tmp_df[el[0]].iloc[num] > min_chance:
                        summed_chance *= tmp_df[el[0]].iloc[num]
                    else:
                        summed_chance *= 1-tmp_df[el[0]].iloc[num]
                    summed_bet *= tmp_df[new_el].iloc[num]
                else:
                    summed_chance *= tmp_df[el[0]].iloc[num]
                    summed_bet *= tmp_df[new_el].iloc[num]
                
                if num==len(tmp_df)-1 and summed_chance > chance: 
                    # if its last iterate and inreaced chance is higher than given chance assign final values
                    res_chance = summed_chance
                    res_bet = summed_bet
                    
                if summed_chance < chance or num > 4 or num==len(tmp_df)-1:
                    if res_bet > bet: # if final bet value is okay save bet and remove used bets from df
                        if num==len(tmp_df)-1 and summed_chance > chance:
                            num += 1
                        chosen_bets = tmp_df.iloc[0:num]
                        chosen_bets = chosen_bets.assign(bet_number = bet_num)
                        bet_num+=1
                        if final_bets is None:
                            final_bets = chosen_bets
                        else:
                            final_bets = pd.concat([final_bets,chosen_bets])
                        to_drop = []
                        for n in range(num):
                            val1 = tmp_df.iloc[n].iloc[0]
                            val2 = tmp_df.iloc[n].iloc[1]
                            val3 = tmp_df.iloc[n].iloc[2]
                            if len(el)==2:
                                cond = (
                                    tmp2_df['fixture_id']==val1
                                )&(
                                    tmp2_df[el[0]]==val2
                                )&(
                                    tmp2_df[el[1]]==val3
                                )
                                
                            else:
                                cond = (
                                    tmp2_df['fixture_id']==val1
                                )&(
                                    tmp2_df[el[0]]==val2
                                )&(
                                    tmp2_df[new_el]==val3
                                )
                                
                            idx = tmp2_df[cond].index[0]
                            
                            to_drop.append(idx)
                        tmp2_df = tmp2_df.drop(to_drop)
                        tmp_df = tmp2_df

                    else: # if final bet value is too low drop row with the lowest bet 
                        if len(el)==2:
                            to_drop = tmp_df[el[1]].idxmin()
                        else:
                            to_drop = tmp_df[new_el].idxmin()
                        tmp_df = tmp_df.drop(to_drop)
                    summed_bet = 1
                    summed_chance = 1 
                    res_chance = 1
                    res_bet = 1
                    break
                else:
                    res_chance = summed_chance
                    res_bet = summed_bet
        if final_bets is not None:
            print(f'got {el[0]} bets')
            return final_bets, bet_num
        else:
            print(f'no odds for {el[1]} bet type')
            return None, bet_num
    else:
        print(f'no proper odds for {el[1]} bet type')
        return None, bet_num

In [211]:
def get_df(el, df, min_chance):
    if len(el)==2:
        df = df[df[el[0]]>min_chance] # get only odds with chance above 0.5
        new_el = ''
        
    elif len(el)==3:
        df = df[(df[el[0]]>min_chance)|(df[el[0]]<1-min_chance)] # get only odds with chance above minimal chance
        df['both_scores'] = df.apply(lambda row: row[el[1]] if row[el[0]]>0.5 else row[el[2]], axis=1)
        df = df.drop(columns={el[1],el[2]})
        new_el = 'both_scores'

    else:
        df = df[df[el[0]]>min_chance] # get only odds with chance above minimal chance
        if el[3].startswith('fh'):
            new_col='fh_result'
        else:
            new_col='result'
        df[new_col] = df.apply(
            lambda row: row[el[2]] if row[el[1]]==0 else (row[el[3]] if row[el[1]]==1 else row[el[4]]),
            axis=1
        )
        df = df.drop(columns={el[1],el[2],el[3],el[4]})
        new_el = new_col
    return df, new_el

In [212]:
def get_idx():
    conn = None
    cur = None
    params = {
        'database' : 'preds',
        'user' : 'postgres',
        'password' : 'pass',
        'host' : 'localhost',
        'port' : '5432'}

    try:
        conn = psycopg2.connect(**params)
        cur = conn.cursor()
        query = '''
        SELECT MAX(bet_number) AS max_bet_number
        FROM bets
        '''
        cur.execute(query)
        res = cur.fetchone()
        if res[0]:
            return res[0]
        else:
            return 1
    except Exception as e:
        print(f'{e}')
    finally:
        if cur is not None:
            cur.close()
        if conn is not None:
            conn.close()

#### Create combination of odds from same match

In [4]:
odds = dict()

In [7]:
for el in list(df['fixture_id'].unique()):
    odds[el]={}
    odds[el]['home_over_1'] = {df[df['fixture_id']==el]['home_over_1_prob'][0]:df[df['fixture_id']==el]['home_over_1'][0]}
    odds[el]['home_over_2'] = {df[df['fixture_id']==el]['home_over_2_prob'][0]:df[df['fixture_id']==el]['home_over_2'][0]}
    odds[el]['away_over_1'] = {df[df['fixture_id']==el]['away_over_1_prob'][0]:df[df['fixture_id']==el]['away_over_1'][0]}
    odds[el]['away_over_2'] = {df[df['fixture_id']==el]['away_over_2_prob'][0]:df[df['fixture_id']==el]['away_over_2'][0]}
    if df[df['fixture_id']==el]['both_scores_prob'][0] > 0.5:
        bs = df[df['fixture_id']==el]['both_scores_true'][0]
    else:
        bs = df[df['fixture_id']==el]['both_scores_false'][0]
    odds[el]['both_scores'] = {df[df['fixture_id']==el]['both_scores_prob'][0]:bs}
    if df[df['fixture_id']==el]['result_first_half_pred'][0] == 0:
        add='home'
    elif df[df['fixture_id']==el]['result_first_half_pred'][0] == 1:
        add='draw'
    else:
        add='away'
    odds[el][f'result_first_half_{add}'] = {df[df['fixture_id']==el]['result_first_half_prob'][0]:df[df['fixture_id']==el][f'fh_result_{add}'][0]}
    if df[df['fixture_id']==el]['result_pred'][0] == 0:
        add='home'
    elif df[df['fixture_id']==el]['result_pred'][0] == 1:
        add='draw'
    else:
        add='away'
    odds[el][f'result_{add}'] = {df[df['fixture_id']==el]['result_prob'][0]:df[df['fixture_id']==el][f'result_{add}'][0]}
    odds[el]['result_double_chance_home'] = {df[df['fixture_id']==el]['result_double_chance_home_prob'][0]:df[df['fixture_id']==el]['double_chance_home'][0]}
    odds[el]['result_double_chance_away'] = {df[df['fixture_id']==el]['result_double_chance_away_prob'][0]:df[df['fixture_id']==el]['double_chance_away'][0]}

In [ ]:
match = 1195620
chance = 0.5
bonus_incomes = 0.2 # 20% incomes
summed_bet = 1
min_bet_val = (1/chance+ 0.2/chance)
min_bet_val += min_bet_val*0.23

In [ ]:
def bet_one_match(match, summed_bet, min_bet_val):
    
    odds_l = []
    best_odds = {}
    best_bet_v = 0
    predicted_chance = 0   
    
    for key, value in odds[match].items():
        for k, v in value.items():
            if k > 0.5:
                odds_l.append(k)
    odds_l.sort(reverse=True)
    
    while odds_l:
        res = 1
        ind = 0
        summed_bet = 1
        
        for index, el in enumerate(odds_l):
            res *= el
            if res < chance:
                ind = index
                break
            ans_res = res
            
        chosen_odds = {}
        if ind==0:
            ind+=1
        for num in range(ind):
            for key, value in odds[match].items():
                if odds_l[num] in value:
                    chosen_odds[key] = {odds_l[num]:value[odds_l[num]]}
                    
        bets_l = []
        for key, value in chosen_odds.items():
            for k, v in value.items():
                summed_bet *= v
                bets_l.append(v)
        bets_l.sort()

        for key, value in odds[match].items():
            for k, v in value.items():
                if v == bets_l[0]:
                    to_drop = k

        print(summed_bet, best_bet_v)
        if summed_bet > best_bet_v:
            best_odds = chosen_odds
            best_bet_v = summed_bet
            predicted_chance = ans_res
        odds_l.remove(to_drop)
    return best_odds, best_bet_v, predicted_chance

In [ ]:
bets, summed_bet_value, pred_chance = bet_one_match(1236342, summed_bet, min_bet_val)

In [10]:
bets

{'away_over_1': {0.7779422402381897: 4.2},
 'result_double_chance_home': {0.7484520673751831: 2.55}}